<div>
  <table>
    <thead>
      <tr>
        <th>Check</th>
        <th>Name</th>
        <th>data</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hero of heroes;">
        <td>
          <input type="checkbox" id="hero-{{hero.id}}" value="hero.id" [(ngModel)]="hero.selected" (change)="onChangeChecked()">
        </td>
        <td>{{hero.name}}</td>
        <td>{{ jsonValue(hero) }}</td>
        <!-- <td>
          <label for="hero-{{hero.id}}">
            <input type="checkbox" name="hero-{{hero.id}}"
              id="hero-{{hero.id}}"
              [[(ngModel)]="hero.selected"]
              [value]="hero.id"
              (change)="onChangeChecked()">
          </label>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
